.top_menu {
  overflow: hidden;
  background: var(--app-background);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;

  .container {
    flex: 1;
    margin-top: 82px;
    border-top: 1px solid rgba(#000, .3);
    display: flex;
    flex-direction: column;
  
    .main,
    .subord {
      padding: 0 30px;

      .link {
        color: #1c1d1d;

        &:after {
          background: #1c1d1d;
        }
      }
    }

    .main {
      padding-top: 40px;
    }

    .subord {
      align-self: end;
      margin-left: auto;
      margin-right: 0;
      padding-top: 60px;
      padding-right: 60px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 60px;
      row-gap: 10px;
      width: fit-content;
    }

    .image {
      display: none;
      margin-left: auto;
      margin-right: 0;
      
      .content {
        color: #fff;
        text-align: center;
        opacity: .9 ;

        h1 {
          font-family: 'Playfair Display';
        }
      }
    }
  }

  /* L+ (iPad Pro 10.5, Pro 12.9) */
  @media (min-width: 768px) {
    height: 66vh;

    .container {
      flex-direction: row;

      .subord {
        flex-shrink: 0;
        align-self: start;
        column-gap: 40px;
        padding-top: 40px;
        padding-right: 20px;
      }

      .image {
        display: block;
      }
    }
  }
}
