.button {
  padding: 10px 15px;
  height: fit-content;
  width: fit-content;
  color: #fff;
  font-size: 20px;
  border: 1px solid #fff;
  border-radius: 50vh;
  font-family: 'Neue Montreal';
  user-select: none;
  cursor: pointer;

  transition: all .2s ease-in-out;

  &:hover {
    background: #fff;
    color: #222;
  }

  &.difference {
    mix-blend-mode: difference;
  }
}

