.clipped_image {
  position: relative;
  
  img {
    max-height: 80vh;
    height: 100%;
    width: 100%;
    object-fit: cover;
    clip-path: inset(0 round 0 0 0 0);

    transition: clip-path 0.2s ease-in-out;
  }

  .centered {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.rounded {
    img {
      border-radius: 10px;
    }
  }

  &:hover {
    img {
      clip-path: inset(10px round 10px 10px 10px 10px);
    }
  }
}
