/* prettier-ignore */
[area="a1"] { grid-area: a1; }
/* prettier-ignore */
[area="a2"] { grid-area: a2; }
/* prettier-ignore */
[area="a3"] { grid-area: a3; }
/* prettier-ignore */
[area="a4"] { grid-area: a4; }
/* prettier-ignore */
[area="a5"] { grid-area: a5; }
/* prettier-ignore */
[area="b1"] { grid-area: b1; }
/* prettier-ignore */
[area="b2"] { grid-area: b2; }
/* prettier-ignore */
[area="b3"] { grid-area: b3; }
/* prettier-ignore */
[area="b4"] { grid-area: b4; }
/* prettier-ignore */
[area="b5"] { grid-area: b5; }
/* prettier-ignore */
[area="c1"] { grid-area: c1; }
/* prettier-ignore */
[area="c2"] { grid-area: c2; }
/* prettier-ignore */
[area="c3"] { grid-area: c3; }
/* prettier-ignore */
[area="c4"] { grid-area: c4; }
/* prettier-ignore */
[area="c5"] { grid-area: c5; }
/* prettier-ignore */
[area="d1"] { grid-area: d1; }
/* prettier-ignore */
[area="d2"] { grid-area: d2; }
/* prettier-ignore */
[area="d3"] { grid-area: d3; }
/* prettier-ignore */
[area="d4"] { grid-area: d4; }
/* prettier-ignore */
[area="d5"] { grid-area: d5; }
/* prettier-ignore */
[area="e1"] { grid-area: e1; }
/* prettier-ignore */
[area="e2"] { grid-area: e2; }
/* prettier-ignore */
[area="e3"] { grid-area: e3; }
/* prettier-ignore */
[area="e4"] { grid-area: e4; }
/* prettier-ignore */
[area="e5"] { grid-area: e5; }